ul.timeline {
    list-style-type: none;
    position: relative;
}
.text-white{
    color:#ffff;
}
.pixel{
    font-family: 'VT323', monospace;
    font-size:24px;
}
.subtitle{
    font-size: 40px;
}
ul.timeline:before {
    content: ' ';
    background: #105572;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
.title{
    font-size: 50px;
}
.skills .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
}

h3 {
    
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #105572;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.year{
    background-color: #e4edf9; 
    width: 190px; 
    padding-left: 5px;
    margin-right: 5px;
    height: 40px;
}
button{
    height: 40px;
    background-color: #105572;
    
}
h2{
    font-size:50px;
}

.langue {
    margin-bottom: 15px;
}

fa-icon{
    font-size: 15px;
    color: #105572;
    width: 30px;
    height: 30px;
    background: #dff3fc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }