<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="home p-1 rounded">
            <ul class="navbar-nav">
                <li class="nav-item p-1 rounded">
                    <a class="pixel nav-link smooth-scroll text-uppercase" href="#about">
                        <img class="nav-image" src="assets/images/navhome.gif"> {{'header.home'| translate}}
                    </a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler nav mb-1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container ">
            <div style="width: 100%; float: right;" class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" style="float: right;">
                   <!--  <li class="nav-item p-1 rounded">
                        <a class="pixel nav-link js-scroll-trigger smooth-scroll text-uppercase" href="">
                            <img src="assets/images/navprofile.gif" class="nav-image mr-1" alt=""> {{'header.about' | translate}}
                        </a>
                    </li> -->
                    <li class="nav-item p-1 rounded">
                        <a class="pixel nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#skills">
                            <img src="assets/images/navskill.gif" class="nav-image mr-1" alt="">{{'header.skills' | translate}}
                        </a>
                    </li>
                    <li class="nav-item p-1 rounded">
                        <a class="pixel nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#references">
                            <img src="assets/images/navreferences.gif" class="nav-image mr-1" alt="">{{'header.references' | translate}}
                        </a>
                    </li>
                    <li class="nav-item p-1 rounded">
                        <a class="pixel nav-link js-scroll-trigger smooth-scroll text-uppercase" href="#contact">
                            <img src="assets/images/navcontact.png" class="nav-image mr-1" alt="">{{'header.contactMe' | translate}}
                        </a>
                    </li>
                    <li class="nav-item p-1 rounded">
                        <mat-radio-group class="pixel" [(ngModel)]="language" style="margin-top: 5px;"
                            (change)="languageChange($event)" aria-label="Select a language">
                            <mat-radio-button class="pixel" value="en" >
                                English
                            </mat-radio-button>
                            <mat-radio-button value="pt" class="pixel pl-3">
                                Português
                            </mat-radio-button>
                        </mat-radio-group>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
