<!-- <section id="home" [ngStyle]="{backgroundImage:'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(assets/images/home-background.gif)'}" class="d-flex flex-column justify-content-center">
    <div class="texto-central hero-container aos-init aos-animate" data-aos="fade-in">
        <img class="home-img" src="assets/images/navhome.gif">
        <h1 class="mt-3">Moisés Estevão </h1>

        <p class="hometext">{{'home.iAmDeveloper' | translate}} <span class="rainbow typed"></span></p>
    </div>
</section> -->
