<section [ngStyle]="{backgroundImage:'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(assets/images/portfolio-background.gif)'}"id="portfolio">
    <div class="text-white pixel container">
        <h2>{{'projects.title' | translate}}</h2>
        <span class="bar-title mb-5"></span>
        <div class="">
          <div class="text-white pixel row">
            <h3 class="rainbow">API Rest Alura</h3>
          </div>
          <div class="col-lg-6 text-white pixel">
            <p >{{'projects.toquioDesc' | translate}}</p>
            <p >{{'projects.toquioTech' | translate}}</p>
            <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:6918433338017878016" height="804" width="350" frameborder="0" allowfullscreen="" title="Publicação incorporada"></iframe>
            <br>
              <a (click)="openAlura()"><button class="btn btn-primary mb-5 mr-1">{{'projects.deploy' | translate}}</button></a>
              <a (click)="gitAlura()"><button class="btn btn-primary mb-5">{{'projects.codigofonte' | translate}}</button></a>
          </div>
        </div>
        <div class="item">
          <div class="text-white pixel row">
            <h3 class="rainbow">Tóquio Lounge</h3>
          </div>
          <div class="col-lg-6 text-white pixel">
            <p >{{'projects.toquioDesc' | translate}}</p>
            <p >{{'projects.toquioTech' | translate}}</p>
            <iframe style="height:600px; width:350px;" src="https://toquiolounge.herokuapp.com/#/home"></iframe>
            <br>
            <a (click)="openToquio()"><button class="btn btn-primary mb-5 mr-1">{{'projects.deploy' | translate}}</button></a>
            <a (click)="gitToquio()"><button class="btn btn-primary mb-5">{{'projects.codigofonte' | translate}}</button></a>
          </div>
        </div>
    </div>

</section>
