h2{
  font-size:35px;
}
.title{
  font-size:40px;
}
.talk-to-me{
  font-size:30px;
}
.text-white{
  color:white;
}
.form-control{
  font-size:26px;
}
.contact{
    padding: 4%;
    height: 400px;
}
.pixel{
}
.col-md-3{
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.btn{
  width: 50% !important;
  font-size: 20px;
}
.icon{
  margin-right: 2px;
  width: 30px;
  display: inline-block;
}
.icon-text{
  display: inline-block;
}
.contact-info h2{
    margin-bottom: 10%;
}

.col-md-9{
    background: rgba(255, 255, 255, 0);
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form button{
    background:#149ddd;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

section{
    padding-top: 100px;
}
.form-group{
  color:white;
}
label{
  font-size:20px;
  color:white;
}
h3,h4{
    color: white;
}

@media (max-width: 1000px) {
  input[type="text"]{
    width: 100%;
    font-size: 18px;
  }
  textarea{
    font-size: 18px !important;
  }
  textarea{
    height: 100px;
  }
}
